* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    height: 100vh;
    background-color: #191816;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
}

button{
    background-color: #ffc632;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal-box{
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    display: none;
}

.active{
    display:initial;
}

.modal-titulo{
    padding: 15px;
}

.modal-linha{
    border: 1px solid #eee;
}

.modal-texto{
    padding: 20px;
}

.modal .btn-close{
    margin: 15px;
}

/* ----- Breakpoints -----*/
@media (max-width: 480px) {
    .modal-box{
        max-width: 250px;
    }
}